*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: hsl(210, 36%, 96%);
}
.section {
  width: 90vw;
  margin: 2rem auto;
  max-width: 117px;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #2caeba;;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 4rem;
  text-align: center;
}
.container{
  margin: 5rem auto;
  width: 90%;
  height: 90vh;
  border: 1px solid #000;
  display: flex;
}
.first{
  margin:2rem;
  flex: 1;
  width: 500px;
  height: 600px;
}
.second{
  margin: 2rem;
  flex: 1;
  width: 500px;
  height: 600px;
}
tr{
  height: 20px !important;
}